.container{
    height: 70vh;
    width: 40vw;
    border: 1px solid gray;
    border-radius: 9px;
}
.top{
    background: #3B3C51;
    display: flex;
    height: 8vh;
    padding: 0 8px;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border-radius: 9px 9px 0px 0px;
}
.fields{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.fields label{
    margin-top: 8px;
}
.fields input{
    width: 100%;
    border: 1px solid #D1D5DB;
    padding: 5px;
    border-radius: 3px;
    width: 100%;
}
.fields input::placeholder{
    color: #A0A0A0;
}
.fields textarea{
    height: 18vh;
    padding: 3px 6px;
    width: 100%;
    border: 1px solid #D1D5DB;
    border-radius: 3px;
}
.formContainer{
    height: 54vh;
  padding: 10px;
}
.bottom{
height: 8vh;
  background-color: #3B3C51;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 9px 9px;
  padding: 0 8px;
}
.bottom .createBtn{
    background-color: #1B48DA;
    border-radius: 3px;
    border: none;
    color: white;
    padding: 6px 3px;
    font-weight: 500;
    cursor: pointer;
}
.clear{
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}