.container {
    display: flex;
    flex-direction: column;
  }
  
  .totalClicks {
    margin-bottom: 20px;
    display: flex ;
    align-items: center;
    gap: 15px;
    margin-left: 50px;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    
  }
  
  .value {
    font-weight: 600;
    color: #1B48DA;
    font-size: 20px;

  }
  
  .chartContainer {
    gap: 15px;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
  .chart {
    width: 35%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .chartTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .chartList {
    list-style: none;
    padding: 0;
  }
  
  .chartItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .date,
  .device {
       width: 120px;
  }
  
  .bar {
    height: 20px;
    background-color: #1B48DA;
    margin: 0 10px;
  }
  
  .value {
    margin-left: 10px;
  }